extends ../layouts/layout_home.pug

block main
    //block text
    .block-light#page
        h1=home.about.title
        .text
            each paragraph in home.about.content
                p=paragraph.p
        .columns
            each paragraph in home.about.downloads
                h2(style="color:#666")=paragraph.p
            each paragraph in home.about.version
                h2(style="color:#666")=paragraph.p
        .stats
    //block image
    .block-panorama
        .imgBox
            img.parallax(src=home.panorama.img_link, alt="alt")
    //block columns
    .block-light
        h1=home.features.title
        .text
            .columns
                each item in home.features.columns
                    ul
                        each item_ul in item.list
                            li=item_ul.list_item
        h1=home.features.title2
        .columns
            each paragraph in home.features.content
                p=paragraph.p
            each item_button in home.features.buttons
                a.button(href=item_button.button.link)=item_button.button.title
    //block text & image
    each item in home.block_and_image 
        .block-with-image
            .textBox
                .text
                    h1=item.block.title
                    each paragraph in item.block.text
                        p=paragraph.p
                    .links
                        each item_button in item.block.buttons
                            a.button(href=item_button.button.link)=item_button.button.title
            .sliderBorder(id=item.block.id)
                ul.sliderSmallBox
                    each item_slide in item.block.slider
                        li.imgBox
                            img.parallax(src=item_slide.slide, alt="alt")
                            p.desc=item_slide.desc
    //block columns
    .block-light
        h1=home.addons.title
        .text
            .columns
                each item in home.addons.columns
                    ul
                        each item_ul in item.list
                            li=item_ul.list_item
    //block text & image
    each item in home.block_and_image_addons
        .block-with-image
            .textBox
                .text
                    h1=item.block.title
                    each paragraph in item.block.text
                        p=paragraph.p
                    .links
                        each item_button in item.block.buttons
                            a.button(href=item_button.button.link)=item_button.button.title
            .sliderBorder(id=item.block.id)
                ul.sliderSmallBox
                    each item_slide in item.block.slider
                        li.imgBox
                            img.parallax(src=item_slide.slide, alt="alt")
                            p.desc=item_slide.desc
block scripts
    script(src="js/main.js")