extends ../layouts/layout_home.pug

block main
    #page
        //block text
        .block-light#content
            h1=home.about.title
            .text
                each paragraph in home.about.content
                    p=paragraph.p
            .columns
                each paragraph in home.about.downloads
                    h2(style="color:#666")=paragraph.p
                each paragraph in home.about.version
                    h2(style="color:#666")=paragraph.p
            .stats
        //block image
        .block-comp
            input.compareSlide(type="range" min="0" max="100" step="0.01" value="50")
            .compareBox
                .imgCompare
                    img.parallax(src=home.compare.img_link_1, alt="alt")
                .imgCompare#cmp
                    img.parallax(src=home.compare.img_link_2, alt="alt")
        //block columns
        .block-light
            h1=home.features.title
            .text
                .columns
                    each item in home.features.columns
                        ul
                            each item_ul in item.list
                                li=item_ul.list_item
            h1=home.features.title2
            .columns
                each paragraph in home.features.content
                    p=paragraph.p
                each item_button in home.features.buttons
                    a.button(href=item_button.button.link)=item_button.button.title
        //block text & image
        each item in home.block_and_image 
            .block-with-image
                .text_box
                    .text
                        h1=item.block.title
                        each paragraph in item.block.text
                            p=paragraph.p
                        .links
                            each item_button in item.block.buttons
                                a.button(href=item_button.button.link)=item_button.button.title
                .slider_border(id=item.block.id)
                    ul.slider_small_box
                        each item_slide in item.block.slider
                            li.img_box
                                img.parallax(src=item_slide.slide, alt="alt")
                                p.desc=item_slide.desc
        .block-light
            h1=home.cit.title
            .columns
                each paragraph in home.cit.content
                    p=paragraph.p
                each item_button in home.cit.buttons
                    a.button(href=item_button.button.link)=item_button.button.title
            .stats
        .half_size_block
            .item_box
                .row_item
                    img(src="images/cit/diamond_sword_fa.png")
                    img(src="images/cit/stone3.png")
                    img(src="images/cit/crossbow_leaping.png")
                    img(src="images/cit/iron_axe_sm.png")
                    img(src="images/cit/diamond_sword_fa.png")
                    img(src="images/cit/stone3.png")
                    img(src="images/cit/crossbow_leaping.png")
                    img(src="images/cit/iron_axe_sm.png")
                    img(src="images/cit/diamond_sword_fa.png")
                .row_item
                    img(src="images/cit/trident_chn.png")
                    img(src="images/cit/soul_speed.png")
                    img(src="images/cit/betta_cotton_candy.png")
                    img(src="images/cit/unbreaking3.png")
                    img(src="images/cit/trident_chn.png")
                    img(src="images/cit/soul_speed.png")
                    img(src="images/cit/betta_cotton_candy.png")
                    img(src="images/cit/unbreaking3.png")
                    img(src="images/cit/trident_chn.png")
                .row_item
                    img(src="images/cit/stripey_yellow.png")
                    img(src="images/cit/iron_sword_lt.png")
                    img(src="images/cit/crossbow_multishot_spectral.png")
                    img(src="images/cit/netherite_sword_sm3.png")
                    img(src="images/cit/stripey_yellow.png")
                    img(src="images/cit/iron_sword_lt.png")
                    img(src="images/cit/crossbow_multishot_spectral.png")
                    img(src="images/cit/netherite_sword_sm3.png")
                    img(src="images/cit/stripey_yellow.png")
                .row_item
                    img(src="images/cit/golden_sword_cov.png")
                    img(src="images/cit/quick_charge.png")
                    img(src="images/cit/netherite_sword_fa2.png")
                    img(src="images/cit/diamond_pickaxe_st.png")
                    img(src="images/cit/golden_sword_cov.png")
                    img(src="images/cit/quick_charge.png")
                    img(src="images/cit/netherite_sword_fa2.png")
                    img(src="images/cit/diamond_pickaxe_st.png")
                    img(src="images/cit/golden_sword_cov.png")
            //- .item_box
            //-     .row_item_sec
            //-     .row_item_sec
            //-     .row_item_sec
            //-     .row_item_sec
        //block columns
        .block-light
            h1=home.addons.title
            .text
                .columns
                    each item in home.addons.columns
                        ul
                            each item_ul in item.list
                                li=item_ul.list_item
        //block text & image
        each item in home.block_and_image_addons
            .block-with-image
                .text_box
                    .text
                        h1=item.block.title
                        each paragraph in item.block.text
                            p=paragraph.p
                        .links
                            each item_button in item.block.buttons
                                a.button(href=item_button.button.link)=item_button.button.title
                .slider_border(id=item.block.id)
                    ul.slider_small_box
                        each item_slide in item.block.slider
                            li.img_box
                                img.parallax(src=item_slide.slide, alt="alt")
                                p.desc=item_slide.desc
block scripts
    //script(src="js/main.js")
    script(src="js/menu.js")
    script(src="js/logo_anim.js")
    script(src="js/smooth_scroll.js")
    script(src="js/slides.js")
    script(src="js/parallax.js")
    script(src="js/compare.js")
    script(src="js/zoom.js")
    
