extends ../layouts/layout.pug

block main
    //- block text
    .block-light#page
        h1=enhanced_biomes_details.about.title
        .text
            each paragraph in enhanced_biomes_details.about.content
                p=paragraph.p
    //- block image
    .block-panorama
        .imgBox
            img.parallax(src=enhanced_biomes_details.panorama.img_link, alt="alt")
    //- block columns
    .block-light
        h1=enhanced_biomes_details.features.title
        .text
            .columns
                each item in enhanced_biomes_details.features.columns
                    ul
                        each item_ul in item.list
                            li=item_ul.list_item
    //- block text & image
    each item in enhanced_biomes_details.block_and_image 
        .block-with-image
            .textBox
                .text
                    h1=item.block.title
                    each paragraph in item.block.text
                        p=paragraph.p
            .sliderBorder(id=item.block.id)
                ul.sliderSmallBox
                    each item_slide in item.block.slider
                        li.imgBox
                            img.parallax(src=item_slide.slide, alt="alt")
                            p.desc=item_slide.desc
    //- block text
    .block-light
        //- h1=enhanced_biomes_details.download.title
        .columns
            each item_button in enhanced_biomes_details.downloads.buttons
                a.buttonBig(href=item_button.button.link)=item_button.button.title
block scripts
    script(src="js/main.js")